{% extends 'base.html' %}
{% block title %}Simular pago - PRI Shop{% endblock %}
{% block content %}
<div class="card card-body">
  <h5>Simulación de pago</h5>
  <form method="post" class="mt-3">{% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Resultado</label>
      <select name="outcome" class="form-select">
        <option value="success">Éxito</option>
        <option value="failed">Fallido</option>
      </select>
    </div>
    <div class="d-grid">
      <button class="btn btn-primary">Finalizar</button>
    </div>
  </form>
</div>
{% endblock %}

